@import url(../../../token/styles/MainPrincipal.css);
@import url(../../../token/Table.css);

* {
    box-sizing: border-box;
  }
  
  body {
    background: #f4f7ff;
    font-family: "Poppins";
  }




.buttons{
  /* background-color: pink; */
  /* margin-left: 500px; */
  height: 60px;
margin-top: 100px;
}


.open-button{
  /* margin-top: 10px; */
  margin-left: 400px;
  /* flex: 1; */

}

