@import url('../../../token/styles/MainAddEvent.css');
/* @import url('../../../token/cores.css'); */


.principal{    
  display: flex;       /* Alinha os elementos filhos em linha */
  gap: 20px;
  /* background-color: red; */

}

.navbar-menu > button {
  margin-top: 20px;
}

.button-event{
  /* margin-top: -5000px; */
  margin-bottom: 100vh;
}

.box-center{
  /* background-color: aqua; */
  margin-left: 20%;
  margin-top: -43%;
}