@import url('cores.css');
.input{
    width: 100%;
    padding: 3% 7%;
    border-radius: 20px;
    border: 2px solid var(--azul);
    outline: none;
    font-size: 20;
}
.input-box i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--azul);
}