
.box-center{
    /* background-color: aqua; */
  
    /* flex: 0 0 78%; */
    /* margin-top: 1vh;              */
    /* padding: 20px; */
    margin-top: -20px;
    padding-left: 5%;
    /* background-color: #f39c12; */
    color: white;
    text-align: center;
     
  
  }
  .event{
    /* margin-top: 1vh; */
    width: 150vh;
    height: 70vh;
    /* padding: 3%; */
    border-radius: 2vh;
    border: 2px ; 
    color: #000;
    font-size: 20;
    margin-top: -70px;
    margin-left: 20px;
    background: #fff;
  }
  
  .img{
    
    display: block;        /* Faz a imagem ocupar a largura total do contêiner */
    margin: 10vh auto;        /* Centraliza horizontalmente */
    width: 15vh;
    height: auto;
  
  }
  
  .button-event{
    margin-top: 35vh;
  
  }
  
  