@import url(../cores.css);
@import url(../botoes.css);

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins";
    background-color: #f0f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   */
  /* Estilo para a "box" de fundo */
  .background-box {
    margin-left: 300px;
    margin-top: -500px;
    
    background-color: white;
    /* padding:100px; */
    border-radius: 20px;
    width: 800px;
    height: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    /* margin-top: 0px; */
    width: 100%;
    max-width: 800px;
    text-align: center;
    /* background-color: pink; */
    /* margin-top: -90px; */
    /* margin-left: -20%; */
    /* border-radius: 20px; */
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */


  }
  
  .consulta-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    
  }
  
  .consulta-tabela th,
  .consulta-tabela td {
    padding: 15px;
    text-align: left;
  }
  
  .consulta-tabela thead {
    background-color: white;
    font-weight: bold;
  }
  
  /* Linha azul abaixo do cabeçalho */
  .consulta-tabela thead tr {
    border-bottom: 2px solid #0e91fd;
  }
  
  .consulta-tabela tbody td {
    border-top: 1px solid #e0e0e0;
  }
  
  
  .consulta-tabela button{
    width: 40%;
    margin-right: 13px;
  }

  .button-event{
  
    font-size: 12px;
    
  }
  .box-add button{
    width: 20%;
    margin-top: 15%;
  }