*{
    box-sizing: border-box;
    font-family: "Poppins";
    background-color: #f4f7ff;
}
body {
    margin: 0;
    padding: 0;
}
.master{
    width: 14%;
    margin-top: 5%;
    margin-left: 2%;
    /* padding: 20px; */
    /* background-color: #000; */
    
    border-right: 2px solid;
    border-right-color: #cfcfcf;


}
.nav {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 5%;
    margin-left: 2%;
    /* padding: 20px; */
    /* background-color: #000; */
    
    /* border-right: 2px solid;
    border-right-color: #cfcfcf; */

    
}


.nav-btn{
    width: 100%;
    padding: 3%;
    height: 70px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease, transform 0.3s ease;


    

}
.nav-btn span{
    /* margin-left: 8px; Espaço entre o texto e o ícone */
    display: flex;
    flex-direction: column; /* Alinha em coluna */
    align-items: flex-end;  /* Alinha todos os itens à direita */
    background-color: transparent;
}

.nav-btn:hover .icons span{
    color: #fff;
}
.nav-btn:hover {
    opacity: 0.9;
    transform: scale(1.07);
    background-color: #0e91fd;
    color: #fff;
    
}

.event{
        /* display: flex;
        flex-direction: column; */
        width: 100%;
        margin-top: 5%;
        /* margin-left: 2%; */
        /* padding: 20px; */
        /* background-color: #000; */
        border-top: 2px solid;
        border-top-color: #cfcfcf;
        /* background-color: red; */
        text-align: center;
        
    }