@import url('cores.css');
*{
    font-family: "Poppins";
}

/* ---------------------- Botão de cadastro e entrar  ----------------------  */

.button{
    width: 100%;
    padding: 3%;
    border-radius: 20px;
    border: 2px solid #fff; 
    color: #fff;
    font-size: 20;
    cursor: pointer;
    margin-bottom: 3%;   
    background: linear-gradient(90deg, #2856f9, #00d9ff);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    /* background-color: #2856f9; */
}

/* ---------------------- Botão de cadastro e entrar  ----------------------  */




/* ---------------------- Botão Adicionar Evento ----------------------  */
.button-event{
    width: 25vh;
    background-color: var(--azul);
    border-radius: 20px;
    border: 2px solid transparent;
     

    color: white;
    font-weight: bold;
    font-size: 18px;
}

.button-event:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
/* ---------------------- Botão Adicionar Evento ----------------------  */



/* ---------------------- Botão do NavBar Topo  ----------------------  */
.navbar-menu > button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }
  .navbar-menu > button:hover{
    font-weight: bold;
    color: #fff;
    font-size: 14px;

  }
  
  .navbar-menu > button.active {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
  }
/* ---------------------- Botão do NavBar Topo  ----------------------  */



/* ---------------------- Botão do NavBar Lateral  ----------------------  */

.button-navbar{
    background-color: white;
    border: 0;
    padding: 8%;
    
    
}


.button-navbar:hover{
    opacity: 0.9;
    transform: scale(1.05);
    border-left: 10px solid var(--azul); 
    /* background-color: var(--azul); */
    font-weight: bold;
    /* color: #fff; */
    /* background-color: red; */
}

/* ---------------------- Botão do NavBar Lateral  ----------------------  */





.button-active {
    border-left: 5px solid var(--azul);
    background-color: var(--azulWhite);
    font-weight: bold;
    /* background-color: pink; */

}





/* ---------------------- Botão de Sim e Não na tabela  ----------------------  */

.button-yesno{
    width: 30%;
    margin-left: 13%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #fff; 
    font-size: 15px;
}


.button-yesno:hover{
    opacity: 0.9;
    /* transform: scale(1.05); */
    background-color: var(--azul);

    /* background-color: var(--azul); */
    /* font-weight: bold; */
    color: #fff;
}

/* ---------------------- Botão de Sim e Não na tabela  ----------------------  */






/* ---------------------- Botão de fechar (PopUp) ----------------------  */
.close-btn {
    width: 6%;
    padding: 1%;
    border-radius: 100%;
    border: transparent;
    color: #fff;
    font-size: 20;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 3%;   
    background: rgb(255,81,81);
    /* background: linear-gradient(90deg, rgba(255,81,81,1) 0%, rgba(255,66,66,1) 35%, rgba(255,107,99,1) 74%, rgba(255,126,126,1) 100%); */
    transition: background-color 0.3s ease, transform 0.3s ease;

    margin-left: 95%;
    margin-bottom: 5%;

}


.close-btn:hover{
    opacity: 0.9;
    transform: scale(1.07);
    background-color: red;
    color: #fff;
}
/* ---------------------- Botão de fechar (PopUp) ----------------------  */


/* ---------------------- Botão de Confirmar (PopUp) ----------------------  */
.confirm-btn{
    width: 100%;
    padding: 3%;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20;
    cursor: pointer;
    margin-bottom: 3%;   
    background: linear-gradient(90deg, #2856f9, #00d9ff);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.confirm-btn:hover{
    opacity: 0.9;
    transform: scale(1.07);
    background-color: #0e91fd;
    color: #fff;
}

/* ---------------------- Botão de Confirmar (PopUp) ----------------------  */


/* ---------------------- Botão de Abrir PopUp ----------------------  */
.open-button{
    border-radius: 100px;
    background-color: var(--azul);
    color: white;
    border: 0px;
    font-weight: bold;
}
/* ---------------------- Botão de Abrir PopUp ----------------------  */