body{
  background-color: var(--offwhite);
}

:root {
  --offwhite: #f4f7ff;        /* Cor de fundo */
  --azul: #2d9df9;            /* Azul Padrão */
  --azul-bebe: #bae1ff;       /* Azul clarinho para contraste */
  --cinza: #cfcfcf;           /* Cor para linhas */
  --cinza-font: #606060;      /* Fontes acinzentadas */
  --azulWhite: #f4f7ff;       


}