@import url(../../../token/styles/MainPrincipal.css);
@import url(../../../token/Table.css);


* {
    box-sizing: border-box;
  }
  
  body {
    background: #f4f7ff;
    font-family: "Poppins";
  }

  .label-tabela{
    /* margin-top: 5px; */
    margin-top: -5%;
    /* background-color: red; */
  }

  .input-tabela{
    margin-left: -100%;
    margin-top: 10px;
    width: 150%;
    height: 60vh;
    text-wrap:wrap;
    /* text-align:initial; */
  }




