@import url(../../../../token/styles/MainPrincipal.css);
@import url(../../../../token/Table.css);


* {
    box-sizing: border-box;
  }
  
  body {
    background: #f4f7ff;
    font-family: "Poppins";
  }

  .label-tabela{
    margin-top: 5px;
  }

  .input-tabela{
    margin-top: 10px;
    
  }




