@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url(../../token/TelasIniciais/TelasIniciais.css);

.button{
    margin-top: 100px;
}

.input-box{
    margin-top: 10px;
}

.confirm{
    margin-top: 100px;
}

.form-container p{
    /* background-color: red; */
    /* padding-top: 50px; */
    color: var(--cinza-font);
    font-size: 12px;
}
